# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.idea/**
**/target


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.project
.settings/org.eclipse.m2e.core.prefs
device-message-api/.classpath
device-message-api/.factorypath
device-message-api/.project
device-message-api/.settings/org.eclipse.core.resources.prefs
device-message-api/.settings/org.eclipse.jdt.apt.core.prefs
device-message-api/.settings/org.eclipse.jdt.core.prefs
device-message-api/.settings/org.eclipse.m2e.core.prefs
device-message-api/.settings/org.springframework.ide.eclipse.prefs
device-message-api/sbom/bom.json
device-message-api/sbom/bom.xml
device-message-commons/.classpath
device-message-commons/.factorypath
device-message-commons/.project
device-message-commons/.settings/org.eclipse.core.resources.prefs
device-message-commons/.settings/org.eclipse.jdt.apt.core.prefs
device-message-commons/.settings/org.eclipse.jdt.core.prefs
device-message-commons/.settings/org.eclipse.m2e.core.prefs
device-message-commons/.settings/org.springframework.ide.eclipse.prefs
device-message-commons/sbom/bom.json
device-message-commons/sbom/bom.xml
device-message-entities/.classpath
device-message-entities/.factorypath
device-message-entities/.project
device-message-entities/.settings/org.eclipse.core.resources.prefs
device-message-entities/.settings/org.eclipse.jdt.apt.core.prefs
device-message-entities/.settings/org.eclipse.jdt.core.prefs
device-message-entities/.settings/org.eclipse.m2e.core.prefs
device-message-entities/sbom/bom.json
device-message-entities/sbom/bom.xml
sbom/bom.json
sbom/bom.xml
